body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

header {
    background: #2e7d32;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    background: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px;
}
