<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>User Registration</h1>
</header>

<div class="container">
    <form method="post" action="/register_form">
        <input type="text" name="name" placeholder="Name" required>

        <select name="role">
            <option value="donor">Donor</option>
            <option value="receiver">Receiver</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
